<div class="container">

  <div class="row">
    <h1>
      Obieg dokumentów
    </h1>
  </div>

  <div class="row">
    <div class="col-4">
      <app-login></app-login>
    </div>
    <div class="col-4">
      <app-registration></app-registration>
    </div>
    <div class="col-4">
        <button type="submit" class="btn btn-primary">Dodaj dokument bez logowania</button>

    </div>
  </div>

  <router-outlet></router-outlet>
  <app-listdocument></app-listdocument>
  <app-adddel></app-adddel>
  <app-addfile></app-addfile>
</div>