<table class="table table-bordered table-hover table-sm" style="margin-right:5%;width:70%;margin-top:5%;float: left;">
    <thead class="thead-dark">
      <tr>
        <th>#</th>
        <th>Nazwa</th>
        <th>Data</th>
        <th>Typ</th>
        <th>Autor</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Otto</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td>@mdo</td>
      </tr>
      <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
          <td>@mdo</td>
        </tr>
              <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td>@mdo</td>
      </tr>
      <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
          <td>@mdo</td>
      </tr>
      <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
          <td>@mdo</td>
      </tr>
    </tbody>
  </table>

  <div class="btn-group mr-2" style="margin-top:10%;">
    <button type="button" class="btn btn-success"><i class="fa fa-floppy-o fa-lg"></i> Zapisz</button>
    <button type="button" class="btn btn-danger"><i class="fa fa-trash-o fa-lg"></i> Usuń</button>
  </div>