<!-- dodawanie plików przez usera -->
<div>
  <h2>Dodaj dokument</h2>

  <!--<input type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".pdf,.doc,.docx">
  <button class="btn btn-primary" (click)="upload()">Upload</button>-->

  <!--<div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h3>Wybierz plik</h3>
        <form (ngSubmit)="onSubmit()">
          <div class="form-group">
            <input type="file" name="image" />
            Opis: <input type="text" [(ngModel)]="opis" name="opis">
          </div>
          <div class="form-group">
            <button class="btn btn-primary">Wyślij</button>
          </div>
        </form>
        <br>
        <br>
      </div>
    </div>
  </div>
</div>-->

<input type="file" (change)="onFileSelected($event)">
<button type="button" (click)="onUpload()">Add</button>


