<div>
  <nav class="navbar navbar-dark bg-dark navbar-expand-lg navbar">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active">
      <img src="favicon.ico" width="30" height="30" class="d-inline-block align-top" alt="Obieg dokumentow">Obieg
      dokumentów</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 text-right">
      <li class="nav-item">
        <button class="btn btn-primary" routerLink="login" routerLinkActive="active">Logowanie</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-primary" routerLink="registration" routerLinkActive="active">Rejestracja</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-primary" routerLink="listdocument" routerLinkActive="active">Lista dokumentów do
          zatwierdzenia</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-primary" routerLink="serchdocument" routerLinkActive="active">Przeszukaj
          dokumenty</button>
      </li>
    </ul>
  </nav>
</div>