/* globalne style */
body{
    background-color: #FFD37B;
}

.buttonUser{
    min-height: 100px;
    min-width: 150px;
    border-radius: 10px;
}

.btn-info:disabled{
  background-color: gray;
  border: none;
}

.footer-copyright{
  color: silver;
}

.page-footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.docInfo{
  background-color: rgb(14, 189, 174);
  color: rgb(255, 255, 255);
  padding: 3px;
  margin: 5px;
}

figure{
  padding: 10px;
  margin: 10px;
  border: 1px solid gray;
}

.btn-group{
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* style do validacji inputów */
.ng-valid[required], 
.ng-valid.required  {
    border: 2px solid rgb(70, 221, 77);
  }
  
.ng-invalid:not(form)  {
    border: 2px solid #e94d4a;
  }

  .ng-untouched:not(form)  {
    border: 2px solid #7485b4;
  }

