/* globalne style */
body{
    background-color: #FFD37B;
}

.buttonUser{
    min-height: 100px;
    min-width: 150px;
    border-radius: 10px;
}

.btn-info:disabled{
  background-color: gray;
  border: none;
}

.footer-copyright{
  color: silver;
}

.page-footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

/* style do validacji inputów */
.ng-valid[required], 
.ng-valid.required  {
    border: 2px solid rgb(70, 221, 77);
  }
  
.ng-invalid:not(form)  {
    border: 2px solid #e94d4a;
  }

  .ng-untouched:not(form)  {
    border: 2px solid #7485b4;
  }

