<div>
    <h1>Lista dokumentów do zatwierdzenia</h1>
    <div class="container "
        style="overflow-y:scroll;overflow-x:hidden;height:500px !important;min-width:148px;position:relative;left:3%;">
        <figure class="figure" style="float: left;">
            <img src="https://acrobat.adobe.com/content/dam/doc-cloud/images/icon-convert-pdf-to-word-145x145@2x.png"
                class="figure-img img-fluid rounded" alt="PLaceholder">
            <figcaption class="figure-caption">Podpis</figcaption>
        </figure>

        <figure class="figure" style="float: left;">
            <img src="https://acrobat.adobe.com/content/dam/doc-cloud/images/icon-convert-pdf-to-word-145x145@2x.png"
                class="figure-img img-fluid rounded" alt="PLaceholder">
            <figcaption class="figure-caption">Podpis</figcaption>
        </figure>

        <figure class="figure">
            <img src="https://acrobat.adobe.com/content/dam/doc-cloud/images/icon-convert-pdf-to-word-145x145@2x.png"
                class="figure-img img-fluid rounded" alt="PLaceholder">
            <figcaption class="figure-caption">Podpis</figcaption>
        </figure>
        <figure class="figure">
            <img src="https://acrobat.adobe.com/content/dam/doc-cloud/images/icon-convert-pdf-to-word-145x145@2x.png"
                class="figure-img img-fluid rounded" alt="PLaceholder">
            <figcaption class="figure-caption">Podpis</figcaption>
        </figure>
        <figure class="figure">
            <img src="https://acrobat.adobe.com/content/dam/doc-cloud/images/icon-convert-pdf-to-word-145x145@2x.png"
                class="figure-img img-fluid rounded" alt="PLaceholder">
            <figcaption class="figure-caption">Podpis</figcaption>
        </figure>
    </div>
</div>