<div>
<nav class="navbar navbar-dark bg-dark navbar-expand-lg navbar">
  <a class="navbar-brand" href="/">
    <img src="favicon.ico" width="30" height="30" class="d-inline-block align-top" alt="Obieg dokumentow">Obieg
    dokumentów</a>

  <ul class="navbar-nav mr-auto mt-2 mt-lg-0 text-right">
    <li class="nav-item">
      <button class="btn btn-primary" (click)="onClick()">Logowanie</button>
    </li>
    <li class="nav-item">
      <button class="btn btn-primary" (click)="onClick()">Rejestracja</button>
    </li>
  </ul>
</nav>
</div>